<section>
  <!-- verify Email form -->
  @if (step == 1) {
  <form [formGroup]="verifyForm" class="shadow bg-main-light p-3 rounded-4"
    (ngSubmit)="verifyEmailSubmit()">
    <h1 class="h2 text-main mb-3">Forget Password :</h1>

    @if(messageErorr){
    <div class="alert alert-danger">{{messageErorr}}</div>

    }

    <div class="my-2">
      <label for="email">Email</label>
      <input formControlName="email" id="email" class="form-control"
        type="email">

      @if(verifyForm.get("email")?.errors &&(
      verifyForm.get("email")?.touched || verifyForm.get("email")?.dirty) ){

      <div class="ps-2">
        @if(verifyForm.get("email")?.getError("required") &&
        verifyForm.get("email")?.touched ){
        <p class="text-danger "> - Email is Required</p>

        }@else if (verifyForm.get("email")?.getError("email") ) {
        <p class="text-danger"> - Email must be valid </p>

        }
      </div>
      }

    </div>

    <button [disabled]="verifyForm.invalid" type="submit"
      class="btn-main d-block ms-auto mt-4">Verify Email

      @if (isLoading) {
      <span class="fas fa-spin fa-spinner"></span>

      }
    </button>
  </form>
  }@else if (step == 2) {

  <!-- Reset code  form -->

  <form [formGroup]="verifyCodeForm" class="shadow bg-main-light p-3 rounded-4"
    (ngSubmit)="verifyCodeSubmit()">
    <h1 class="h2 text-main mb-3">Rest Code :</h1>

    @if(messageErorr){
    <div class="alert alert-danger">{{messageErorr}}</div>

    }

    <div class="my-2">
      <label for="resetCode">Code</label>
      <input formControlName="resetCode" id="resetCode" class="form-control"
        type="text">

      @if(verifyCodeForm.get("resetCode")?.errors &&(
      verifyCodeForm.get("resetCode")?.touched ||
      verifyCodeForm.get("resetCode")?.dirty) ){

      <div class="ps-2">
        @if(verifyCodeForm.get("resetCode")?.getError("required") &&
        verifyCodeForm.get("resetCode")?.touched ){
        <p class="text-danger "> - Rest Code is Required</p>

        }@else if (verifyCodeForm.get("resetCode")?.getError("pattern") ) {
        <p class="text-danger"> - Reset Code must be 6 </p>

        }
      </div>
      }

    </div>

    <button [disabled]="verifyCodeForm.invalid" type="submit"
      class="btn-main d-block ms-auto mt-4">Reset Code

      @if (isLoading) {
      <span class="fas fa-spin fa-spinner"></span>

      }
    </button>
  </form>
  }@else if (step == 3) {
  <!-- change pass -->

  <form [formGroup]="restPasswordForm"
    class="shadow bg-main-light p-3 rounded-4"
    (ngSubmit)="resetPasswordSubmit()">
    <h1 class="h2 text-main mb-3">Rest Password :</h1>

    @if(messageErorr){
    <div class="alert alert-danger">{{messageErorr}}</div>

    }

    <div class="my-2">
      <label for="email">Email</label>
      <input readonly formControlName="email" id="email" class="form-control"
        type="email">

      @if(restPasswordForm.get("email")?.errors &&(
      restPasswordForm.get("email")?.touched ||
      restPasswordForm.get("email")?.dirty) ){

      <div class="ps-2">
        @if(restPasswordForm.get("email")?.getError("required") &&
        restPasswordForm.get("email")?.touched ){
        <p class="text-danger "> - Email is Required</p>

        }@else if (restPasswordForm.get("email")?.getError("email") ) {
        <p class="text-danger"> - Email must be valid </p>

        }
      </div>
      }

    </div>
    <div class="my-2">
      <label for="password">Password</label>
      <input formControlName="newPassword" id="password" class="form-control"
        type="password">
    </div>

    @if(restPasswordForm.get("newPassword")?.errors &&
    (restPasswordForm.get("newPassword")?.touched ||
    restPasswordForm.get("newPassword")?.dirty)
    ){

    <div class="ps-2">
      @if(restPasswordForm.get("newPassword")?.getError("required") ){
      <p class="text-danger "> - Password is Required</p>

      }@else if (restPasswordForm.get("newPassword")?.getError("pattern")) {
      <p class="text-danger"> - New Password Should be more than or equal 8
        chars</p>

      }

    </div>
    }

    <button [disabled]="restPasswordForm.invalid" type="submit"
      class="btn-main d-block ms-auto mt-4">Rest Password

      @if (isLoading) {
      <span class="fas fa-spin fa-spinner"></span>

      }
    </button>
  </form>

  }
</section>
