<div class="row g-3">
  @for (category of categories(); track category._id) {
  <div class="col-md-2">
    <div class="category p-2  ">
      <div [routerLink]="['/categoryDetails',category._id]" class="cr">
        <img [src]="category.image" class="w-100" height="250px"
          [alt]="category.name">

        <h3 class="h5 mt-2 text-main">{{category.name | term : 2}}</h3>

        <div class="d-flex justify-content-between align-items-center">

        </div>
      </div>
    </div>

  </div>

  }
</div>
