<section>
  <div class="input-group mb-3 w-50 mx-auto mt-3">
    <input [(ngModel)]="term" type="text" class="form-control"
      placeholder="Search..."
      aria-label="Search" aria-describedby="button-search" />

  </div>
  <div class="row g-3">
    @for (product of products() | search : term; track product._id) {
    <div class="col-md-2">
      <div class="product p-2  ">
        <div [routerLink]="['/details',product._id]" class="cr">
          <img [src]="product.imageCover" class="w-100" [alt]="product.title">
          <h3 class=" small text-main">{{product.category.name}}</h3>

          <h3 class="h5">{{product.title | term : 2}}</h3>

          <div class="d-flex justify-content-between align-items-center">

            <span>{{product.price}} EGP</span>
            <div>
              <span><i class="fas fa-star rating-color"></i></span>
              <span class="text-muted">{{product.ratingsAverage}}</span>
            </div>
          </div>
        </div>
        <button (click)="addToCart(product._id)"
          class="btn-main w-100 addcartbutton">Add To Cart <i
            class="fa-solid  fa-cart-shopping"></i></button>

      </div>

    </div>

    }
  </div>
</section>
